
* {
    margin: 0;
    padding: 0;
    outline: none;
    box-sizing: border-box;
}


.article-2 {
    background-color: #f2f2f2;
}

.article-2 h3 {
    padding: 20px 50px 5px 50px;
}

.article-2 p {
    margin-bottom: 20px;
}

.article-2-container {
    column-count: 2;
    padding: 20px 50px 20px 50px;  
    column-gap: 50px;  
}


/** test @media **/

@media screen and (max-width: 480px) {
    body {
        background-color: lightgreen;
    }
}