
* {
    margin: 0;
    padding: 0;
    outline: none;
    box-sizing: border-box;
}

/** fonts **/

@font-face {
 font-family: "Chevin";
 src: url("fonts/ChevinPro-Medium.otf") format("opentype"); 
}
@font-face {
 font-family: "OpenSans";
 font-weight: bold;
 src: url("fonts/OpenSans-Bold.ttf") format("truetype"); 
}
@font-face {
 font-family: "OpenSans";
 src: url("fonts/OpenSans-Light.ttf") format("truetype");
 font-weight: lighter; 
}
@font-face {
 font-family: "OpenSans";  
 src: url("fonts/OpenSans-Regular.ttf") format("truetype"); 
}



a {
    color: #e84e0e;
    text-decoration: none;
}

.article {
    background-color: #f2f2f2;
    font-family: "OpenSans";
}

.article h2, h3 {
    padding: 20px 50px 5px 50px;
    font-family: "OpenSans";
    font-weight: lighter;
}

.article-1 p, img {
    padding: 20px 50px 5px 50px;
    font-size: 0.8em;
}

.article-1 img {
    float: left;
    max-width: 100%;
    margin-bottom: 10px;
}


.article-2 p {
    margin-bottom: 20px;
    font-size: 0.8em;
}

.article-2 {
    column-count: 2;
    padding: 20px 50px 20px 50px;  
    column-gap: 50px;  
}

/** footer **/

footer {
    text-align: center;
    padding: 20px 0 20px 0;
    font-size: 0.9em;
}

.footer-copyright {
    color: #e84e0e;
    margin: 20px 0 5px 0;
}

footer p {
    margin-bottom: 15px;
}


/** test @media **/

@media only screen and (max-width: 767px) {

    .article-2 {
    column-count: 1;
    padding: 20px 50px 20px 50px;      
    }

    .article-1 img {
    float: none;
    max-width: 100%;
    margin-bottom: 10px;
}

}