
* {
    margin: 0;
    padding: 0;
    outline: none;
    box-sizing: border-box;
}

/** fonts **/

@font-face {
 font-family: "Chevin";
 src: url("fonts/ChevinPro-Medium.otf") format("opentype"); 
}
@font-face {
 font-family: "OpenSans";
 font-weight: bold;
 src: url("fonts/OpenSans-Bold.ttf") format("truetype"); 
}
@font-face {
 font-family: "OpenSans";
 src: url("fonts/OpenSans-Light.ttf") format("truetype");
 font-weight: lighter; 
}
@font-face {
 font-family: "OpenSans";  
 src: url("fonts/OpenSans-Regular.ttf") format("truetype"); 
}

/** fonts end **/

body {
    font-family: "OpenSans";
}

a {
    color: #e84e0e;
    text-decoration: none;
}

p {
    line-height: 1.5em;
}

/** navigace **/

.nav {
    display: block;
    max-width: 1100px;
    margin: 0 auto;
}

.nav-list {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

/** scvrkávající se mezera mezi logem a nav items. Nevím, jestli neni prasárna **/
.stretch {
    flex-grow: 2;
}

.nav a {
    font-weight: lighter;
    font-size: 0.9em;
    margin-right: 15px;
    color: black;
}

.nav a:hover {
    color: #e84e0e;
}

.nav a.selected {
    color: #e84e0e;
    border-bottom: 1px solid #e84e0e;
    padding-bottom: 2px;
}

.nav img { 
    max-width: 110px;
    margin: 15px; 
}

.nav ul {
    list-style-type: none;
}

/** navigace small screen **/

.toggle {
    display: none;
}

.nav-collapse {
    
}


/** articles **/

.article-background {
    background-color: #f2f2f2;
}

.article {
    max-width: 900px;
    display: block;
    margin: 0 auto;
    padding-bottom: 20px;
}

.article-2 {
    column-count: 2;
    column-gap: 60px;
    padding: 20px 50px 5px 50px;
}

.article h2, h3 {
    padding: 20px 50px 5px 50px;
    font-family: "OpenSans";
    font-weight: lighter;
}

.article-1 img {
    float: left;
    max-width: 100%;
    margin-bottom: 10px;
    padding: 20px 50px 5px 50px;
}

.article-1 p {
    padding: 20px 50px 5px 50px;
    font-size: 0.8em;
    text-align: justify;
}

.article-2 p {
    font-size: 0.8em;
    padding-top: 0px;
    padding-bottom: 25px;
}

/** news **/

.news {
    max-width: 800px;
    display: block;
    margin: 0 auto;
    font-size: 0.8em;
    text-align: center;
    padding: 15px 50px 15px 50px;
}

.news-date {
    font-size: 0.7em;
    color: #7d7d7d;
    max-width: 80px;
    margin-right: 10px; 
    display: inline-block;
    vertical-align: bottom;
}

.news-message {
    white-space: nowrap;
    overflow: hidden;
    overflow: scroll;
    max-width: 500px;
    display: inline-block;  
    vertical-align: middle;
}

.news-link {
    max-width: 80px;
    margin-left: 10px;
    display: inline-block;
    vertical-align: middle;
}

/** carousel **/

.carousel-cell {
  width: 100%; /* full width */
  height: 400px; /* height of carousel */
  margin-right: 10px;
}

.main-carousel img {
    width: 100%;
}

.carousel-text-container {
    max-width: 900px;
    display: block;
    margin: 0 auto;
}

.carousel-text {
    position: absolute;
    display: flex;
    align-items: center;
    padding: 60px 50px 5px 50px;
    max-width: 900px;
    height: 300px;
}

.carousel-text-left {
    max-width: 600px;
    align-self: flex-start;
}

/* prostřední prázdný scvrkávající se sloupec*/
.carousel-text-middle {
    flex-basis: 50px;
    flex-shrink: 3;
}

.carousel-text-right {
    align-self: flex-end;
    flex: 0 0 200px;
}

.carousel-text h2 {
    font-weight: lighter;
    text-shadow: 1px 1px rgba(128,128,128,0.5);
    padding-bottom: 25px;
    max-width: 650px;
}

.carousel-text p {
    font-weight: lighter;
    padding-bottom: 15px;
    max-width: 650px;
}

.carousel-text a {
    font-weight: lighter;
    color: #e84e0e;
    background-color: white;
    border: 1px solid;
    border-radius: 9999em;
    font-size: 0.9em;
    padding: 8px 50px;
}

/** chartist **/

.chart {
    display: block;
    max-width: 400px;
    margin: 0 auto;
    margin-bottom: 20px;
    font-family: "Chevin";
}

/** otáčí x label, posouvá lehce doprava **/
.ct-label.ct-label.ct-horizontal {
  transform: rotate(-90deg);
  margin-left: 5px;
}

/** posouvá X label do zákrytu s bars**/
.ct-horizontal.ct-label {
  padding: 10px;
}
 
/** zakulacené bars **/
.ct-chart .ct-bar {
  stroke-linecap: round;
} 


/** footer **/

footer {
    background-color: white;
    text-align: center;
    padding: 30px 0 30px 0;
    font-size: 0.7em;
    line-height: 1.8;
}

.orange-text {
    color: #e84e0e;
}

.tm-10 {
    margin-top: 10px;
}

/** @media **/

@media only screen and (max-width: 1170px) {

    .main-carousel img {
        min-height: 400px;
        object-fit: none;        
    }

}

@media only screen and (max-width: 750px) {

    .nav a {
    font-size: 0.8em;
    margin-right: 10px;
    }

    .nav img { 
        max-width: 100px;
        margin: 15px; 
    }


    .carousel-cell {
      width: 100%; /* full width */
      height: 350px; /* height of carousel */
      margin-right: 10px;
    }

    .carousel-text {
        display: inline-block;
        padding: 30px 50px 5px 50px;
    }

    .carousel-text-left {
        text-align: center;
    }

    .carousel-text-right {
        text-align: center;
        padding-top: 35px;
        padding-bottom: 10px;
    }

    .news {
        max-width: 600px;
        font-size: 0.8em;
        padding: 15px 50px 15px 50px;
        text-align: center;
    }

    .news-date {
        font-size: 0.7em;
        color: #7d7d7d;
        max-width: 80px;
        text-align: center;
        display: block;
        margin: auto;
        
    }

    .news-message {
        white-space: nowrap;
        overflow: hidden;
        overflow: scroll;
        max-width: 600px;
        display: block;  
        margin: auto;
    }

    .news-link {
        max-width: 80px;
        display: block;
        margin: auto;
    }

    .article {
    max-width: 600px;
    }

    .article-1 img {
        float: none;
        display: block;
        margin: 0 auto;
        max-width: 100%;
        margin-bottom: 10px;
    }

    .article-2 {
        column-count: 1;
    }

    @media only screen and (max-width: 600px) {

    .nav-item {
        display: none;
    }

    .toggle {
        display: block;
        margin-right: 10px;
        padding: 10px 0 10px 0;
        text-align: right;
    }

    }
