/**
* {
    margin: 0;
    padding: 0;
    outline: none;
    box-sizing: border-box;
}
**/

/** Navigation **/

.nav-image {
	/**max-width:80%;**/
}

.flex-container {
    display: flex;
}

.flex-item {
    flex: 1;
}

.flex-start {
    justify-content: flex-start;
}

.flex-end {
    justify-content: flex-end;
}

.nav {
    list-style: none;
}
.nav a {
    text-decoration: none;
    display: block;
    padding: 0 1em;
    color: black;
}


/** Carousel **/

.img-carousel {
	max-width: 100%;
	position: center;
}

.flex-carousel {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
}

.flex-item-carousel {
	justify-content: flex-start;
}



/** test @media **/

@media screen and (max-width: 480px) {
    body {
        background-color: lightgreen;
    }
}