
* {
    margin: 0;
    padding: 0;
    outline: none;
    box-sizing: border-box;
}

/** fonts **/

@font-face {
 font-family: "Chevin";
 src: url("fonts/ChevinPro-Medium.otf") format("opentype"); 
}
@font-face {
 font-family: "OpenSans";
 font-weight: bold;
 src: url("fonts/OpenSans-Bold.ttf") format("truetype"); 
}
@font-face {
 font-family: "OpenSans";
 src: url("fonts/OpenSans-Light.ttf") format("truetype");
 font-weight: lighter; 
}
@font-face {
 font-family: "OpenSans";  
 src: url("fonts/OpenSans-Regular.ttf") format("truetype"); 
}

/** fonts end **/

body {
    font-family: "OpenSans";
}

a {
    color: #e84e0e;
    text-decoration: none;
}

.article-background {
    background-color: #f2f2f2;
}

.article {
    max-width: 900px;
    display: block;
    margin: 0 auto;
    padding-bottom: 20px;
}

.article-2 {
    column-count: 2;
    column-gap: 60px;
    padding: 20px 50px 5px 50px;
}

.article h2, h3 {
    padding: 20px 50px 5px 50px;
    font-family: "OpenSans";
    font-weight: lighter;
}

.article-1 img {
    float: left;
    max-width: 100%;
    margin-bottom: 10px;
    padding: 20px 50px 5px 50px;
}

.article-1 p {
    padding: 20px 50px 5px 50px;
    font-size: 0.8em;
    text-align: justify;
}

.article-2 p {
    font-size: 0.8em;
    padding-top: 0px;
    padding-bottom: 25px;
}

/** news **/

.news {
    max-width: 700px;
    display: block;
    margin: 0 auto;
    font-size: 0.8em;
    text-align: center;
    padding: 15px 50px 15px 50px;
    overflow: scroll;
}

.news p, a {
    display: inline;
    white-space: nowrap;

}

.news-date {
    font-size: 0.7em;
    color: #7d7d7d;
}


/** footer **/

footer {
    background-color: white;
    text-align: center;
    padding: 10px 0 10px 0;
    font-size: 0.7em;
    line-height: 1.8;
}

.orange-text {
    color: #e84e0e;
}

.tm-10 {
    margin-top: 10px;
}

/** test @media **/

@media only screen and (max-width: 750px) {

    .article {
    max-width: 600px;
    }

    .article-1 img {
        float: none;
        display: block;
        margin: 0 auto;
        max-width: 100%;
        margin-bottom: 10px;
    }

    .article-2 {
        column-count: 1;
    }